{% extends "bootstrap/base.html" %}
<!doctype html>


  {% block title %}Запись к врачу

  {% endblock %}
 {% block styles %}
{{ super() }}

  <link rel="stylesheet" type="text/css" media="all" href="static/css/styles.css">
  <link rel="stylesheet" type="text/css" media="all" href="static/css/switchery.min.css">
  <script type="text/javascript" src="static/js/switchery.min.js"></script>



{% endblock %}

{% block content %}
  <div id="wrapper">
  
  <h1>Запись к врачу</h1>
  
  <form >
  <div class="col">
    <label>
      Name
      <input type="text" placeholder="What is your full name?" >
    </label>
  </div>
  <div class="col">
    <label>
      Company
      <input  type="text" placeholder="Where do you currently work?" >
    </label>
  </div>

  <div class="col">
    <label>
      Phone Number
      <input type="text">
    </label>
  </div>
  <div class="col">
    <label>
      Email
      <input type="text" placeholder="What is your e-mail address?" >
    </label>
  </div>
  <div class="col">
    <label>
      Availability
      <select tabindex="5">
        <option>5-15 hrs per week</option>
        <option>15-30 hrs per week</option>
        <option>30-40 hrs per week</option>
      </select>
    </label>
  </div>

  <div class="col-2">


  <div class="col-submit">
    <button class="submitbtn">Submit Form</button>
  </div>

  </form>
  </div>

{% endblock %}